/* nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 43, 43);
}
.title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(229, 23, 23);
}
.title-container {
    display: flex;
    align-items: center;
  }
  
  .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(229, 23, 23);
    display: flex;
    align-items: center;
  }
  
  .title img {
    width: 40px; 
    height: auto;
    margin-right: 10px; 
  }
  
  /* Add these styles to your CSS file or component */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Updated alignment to center */
    background-color: #170303;
    padding: 0.8rem; /* Increased padding for better spacing */
    margin-left: 0px;
  }
  
  .title-container {
    display: flex;
    align-items: center;
  }
  
  .title-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(247, 243, 243);
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    color:black;
    align-items: center; /* Align items vertically in the center */
  }
  
  .nav-list li {
    display: inline;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #fefbfb;
  }
  
  /* Added specific styling for the login button */
  .login {
    background-color: rgb(25, 25, 181);
    padding: 10px;
    border-radius: 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    display: block;
    text-decoration: none;
    color: rgb(198, 22, 22);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  